body {
    background-color: hsl(185, 75%, 39%);
    font-family: sans-serif;
    font-size: 1.3ram;
    overflow: hidden;
    
}

.bg-image{
    position: absolute;
}

.targeta{
    position: relative;
    top: 20vh;
    width: 400px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 20px 20px 50px;
}

.cabeza {
    position: relative;
    height: 120px;
    text-align: center;
}
.cabezal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.logo{
    position: absolute;
    top: 90px;
    left: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #fff;

}

.cuerpo{
    position: absolute;
    top: 200px;
    width: 100%;
    height: 100px;
    text-align: center;
    border-bottom: 2px solid rgb(0 0 0 / .1);
}
.fa-heart{
    position: absolute;
    margin: -30px -80px;
    font-size: 1.5rem;
    cursor: pointer;
    color: hsl(185, 75%, 39%);
}
.fa-heart:hover {
    color: rgb(194, 41, 41);
    transition: 0.2s;
    font-size: 2rem;
}
.fa-heart::before{
    transition: 0.2s;
    
}


.fa-thumbs-up{
    position: absolute;
    margin: -33px 63px;
    font-size: 1.5rem;
    cursor: pointer;
    color: hsl(185, 75%, 39%);
}
.fa-thumbs-up:hover{
    color: rgb(194, 41, 41);
    transition: 0.2s;
    font-size: 2rem;
}
.fa-thumbs-up::before{
    transition: 0.2s;
}


.cuerpo h1{
    font-size: 1.5rem;
}
.descripcion{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.stats{
    display: inline-block;
    margin: 0 0.5rem;
    width: 100px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
        background-color: hsl(185, 75%, 39%);
        font-family: sans-serif;
        font-size: 1.3ram;
        overflow: hidden;
        
    }
    
    .bg-image{
        position: absolute;
    }
    
    
    .targeta{
        position: relative;
        width: 400px;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        max-width: 90%;
    }
    
    .cabeza {
        position: relative;
        display: flex;
        justify-content: center;
        height: 120px;
        text-align: center;
    }
    .cabezal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        
    }
    .logo{
        position: relative;
        left: 0px;
        top: 60px;
        border-radius: 50%;
        border: 5px solid #fff;
        background-color: #fff;
    
    }
    
    .cuerpo{
        position: absolute;
        width: 100%;
        height: 100px;
        text-align: center;
        border-bottom: 2px solid rgb(0 0 0 / .1);
        
    }
    .fa-heart{
        position: absolute;
        margin: -40px -90px;
        font-size: 1.5rem;
        cursor: pointer;
        color: hsl(185, 75%, 39%);
    }
    .fa-heart:hover {
        color: rgb(194, 41, 41);
        transition: 0.2s;
        font-size: 2rem;
    }
    .fa-heart::before{
        transition: 0.2s;
        
    }
    
    
    .fa-thumbs-up{
        position: absolute;
        margin: -43px 63px;
        font-size: 1.5rem;
        cursor: pointer;
        color: hsl(185, 75%, 39%);
    }
    .fa-thumbs-up:hover{
        color: rgb(194, 41, 41);
        transition: 0.2s;
        font-size: 2rem;
    }
    .fa-thumbs-up::before{
        transition: 0.2s;
    }
    
    
    .cuerpo h1{
        font-size: 1.5rem;
        margin-top: 10px;
    }
    .descripcion{
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
    .stats{
        display: inline-block;
        margin: 0 0.05rem;
        width: 100px;
        text-align: center;
    }
}    


    
    




